.container,
.connector,
.connector div,
.info,
.info span,
.connector button  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(10px);
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.connector {
    width: min(400px, 100dvw);
    height: 480px;
    background-color: var(--background_wagmi_34535);
    position: fixed;
    box-shadow: 0 0 1rem 0.3rem var(--meduim_dark_wagmi_34535);
    flex-flow: column;
    overflow: hidden;
    animation: fadeIn 0.5s ease forwards;
    border-radius: 20px;
}
.connector div {
    flex-flow: column;
    padding: 1rem 0;
    width: 90%;
}

.connector div p {
    color: #f00;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.connector img {
    margin: 0 0.3rem;
}
.connector button {
    width: 300px;
    padding: 1rem;
    background-color: var(--foreground_wagmi_34535);
    color: var(--background_wagmi_34535);
    font-weight: bold;
    cursor: pointer;
    border: transparent;
    transition: all 0.5s ease;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
}
.connector button:hover {
    opacity: 0.5;
}
.connector button:active {
    transform: scale(0.5);
}

.info span {
    flex-flow: column;
}
.info span p {
    width: 80%;
    overflow: hidden;    
    white-space: nowrap;  
    text-overflow: ellipsis; 
    margin: 1rem 0;
    font-weight: bolder;
}
.closed {
    padding: 0.5rem 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}
.closed:hover {
    background-color: var(--meduim_dark_wagmi_34535);
}
@media (max-width: 800px) {
    .connector {
        bottom: 0;
    }
}

